<h3>Categories</h3>
<ul 
    class="sub-menu" 
    jwcid="@For" 
    source="ognl:categories" 
    value="ognl:category" 
    element="ul">
    <li jwcid="@Any" title="ognl:category.description">
        <a 
            jwcid="@DirectLink" 
            parameters="ognl:category.id" 
            listener="listener:viewCategoryPosts"
            title="View posts in this category">
        	<span jwcid="@Insert" value="ognl:category.title" />(Posts: <span jwcid="@Insert" value="ognl:category.posts.size" />)
        </a>
	</li>
</ul>	