<h3>Categories</h3>
<ul 
    class="sub-menu">
    <li 
		jwcid="@For" 
	    source="ognl:categories" 
	    value="ognl:category" 
	    element="li">
        <a 
            jwcid="@DirectLink" 
            parameters="ognl:category.id" 
            listener="listener:viewCategoryPosts"
            title="View posts in this category">
        	<span 
            	jwcid="@Insert" 
            	value="ognl:category.title" 
            />
            [
            <span 
            	jwcid="@Insert" 
            	value="ognl:category.posts.size" 
            />
            ]
        </a>
	</li>
</ul>	