<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Strict//EN"          
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-Strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<title>Page Title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link href="http://localhost:8080/app?service=rss" rel="alternate" type="application/rss+xml" title="rss" />
		<style type="text/css">
			@import url(s/base.css);
            @import url(s/layout.css);
            @import url(s/menu.css);
            @import url(s/calendar.css);
            @import url(s/post.css);
		</style>
        <script src="/js/dojo.js" type="text/javascript"></script>
	</head>
	<body jwcid="@Body">   
        <div id="wrapper">        
            <div id="head">
                
            </div>            
            <div id="navbar">
				<ul id="internals">
	            	<li>
                        <a jwcid="@PageLink" page="Home" title="Return to the homepage" href="#">Home</a>
					</li>    
                    <li>
                        <a title="Search" href="#" class="inactive">Search</a>
					</li>                                        
	                <span jwcid="@If" condition="ognl:isLoggedIn" >
		                <li>
		                    <a jwcid="@PageLink" page="NewPost" href="#" >New Post</a>
		                </li>
		                <li >
		                    <a title="Change the look of the blog." href="#" class="inactive">Change Skin</a>
		                </li>
		                <li>		                    
                            <a jwcid="@ServiceLink" service="ognl:@org.apache.tapestry.Tapestry@RESTART_SERVICE" title="Logout">[Logout]</a>
		                </li>
	                </span>
                    <span jwcid="@Else" >
	                    <li><a jwcid="@PageLink" page="Login" title="Return to the homepage" href="#">[Login]</a></li>
                    </span>
				</ul>	            	
	        </div>
            
            <div id="contentWrapper">
                
                <div id="subContent">                    
                    <span jwcid="@PostCalendar" />
                    <span jwcid="@CategoryMenu" />
                    <h2>People</h2>
                    <ul class="subMenu">                            
	                	<li><a title="King of the nerds." href="http://www.martinfowler.com">Martin Fowler</a></li>
	                </ul>
                    <h2>Tools</h2>
                    <ul class="subMenu">
                        <li><a title="Open source IDE" href="http://www.eclipse.org">Eclipse</a></li>
                        <li><a title="Component based web dev." href="http://jakarta.apache.org/tapestry/">Tapestry</a></li>
                        <li><a title="Dependency injection service microkernel." href="http://jakarta.apache.org/hivemind/">Hivemind</a></li>
                        <li><a title="Unit testing platform Java" href="http://www.junit.org">JUnit</a></li>
                        <li><a title="Build tool for Java" href="http://maven.apache.org">Maven</a></li>
                        <li><a title="Continuous integration tool" href="http://cruisecontrol.sourceforge.net/">CruiseControl</a></li>
                        <li><a class="last" title="Browser Based testing" href="http://selenium.thoughtworks.com/index.html">Selenium</a></li>
                    </ul>                    
                    <h2>Web Design</h2>
                    <ul class="subMenu">
	                    <li><a title="King of the designers." href="http://www.zeldman.com">Zeldman</a></li>
	                    <li><a title="Useful site." href="http://www.simplebits.com">SimpleBits</a></li>
	                    <li><a class="last" title="Overly serious but still useful." href="http://www.mezzoblue.com">MezzoBlue</a></li>
	                </ul>                                                         
                </div>
            
                <div id="mainContent">                    
                	<span jwcid="@RenderBody" />           
                </div>                
                <div style="clear: both">&nbsp;</div>            
            </div>            
            <div id="footer">
                <p>This website may or may not be Xhtml Strict 1.0 using Css 2.0</p>
            </div>                  
        </div>    
    </body>
</html>