<div class="post">
	<div class="post-head">
		<h3>
			<span jwcid="@Insert" value="ognl:post.title" >Post Title</span>
		</h3>
	
		<p>
	        <img jwcid="@Image" image="ognl:getAsset('file')" />
	    	<span jwcid="@Insert" value="ognl:post.postDate" format="ognl:dateFormat">[TIME] on [DATE]</span>
		</p>
    </div>
    <div class="post-body">
	    <p>
			<span jwcid="@InsertText" value="ognl:post.text" raw="true">Post text</span>
		</p>
    </div>
    <div class="post-footer">
		<ul class="inline-list">
			<li>
				<a href="#" jwcid="@DirectLink" listener="listener:editPost" parameters="ognl:post.id" title="Edit Post">
					<img jwcid="@Image" alt="Edit post." image="ognl:getAsset('edit')" />
				</a>
			</li>
			<li>
				<a href="#" jwcid="@DirectLink" listener="ognl:listeners.deletePost" parameters="ognl:post.id" title="Delete Post">
					<img jwcid="@Image" alt="Delete Post" image="ognl:getAsset('delete')" />
				</a>
			</li>
			<li>
	            <img jwcid="@Image" alt="Make Comment" image="ognl:getAsset('comment')" />
				<a href="#" jwcid="@DirectLink" listener="listener:viewPost" parameters="ognl:{post.id}">
					<span jwcid="@Insert" value="ognl:post.comments.size">10</span> comment(s)
				</a>
			</li>
		</ul>
    </div>
</div>