div.calendar {
    margin: 0 0 10px 0;    
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 9px;
}

div.calendar table {
    width: 100%;
    border: 1px solid #eee;
    border-collapse: collapse;
}

div.calendar th, div.calendar td {
    padding: 2px;
    
}
    
div.calendar th {
    background: #eee;
}

div.calendar td {
    text-align: center;
}

div.calendar td.current {
    background: #def;
}