div#wrapper {
	margin: 0;
	padding: 20px;
	
	width: 690px;
	background: #fff;
}

/* header */

	div#header, div#navbar, div#footer, div#sidebar {
		margin: 10px 0;
		padding: 0;
	}
	
	div#header {
		margin-top: 0;
		height: 108px;
		border: 1px solid #eee;
		background: #fff url(../i/bg-header-snow.jpg) top left no-repeat;
	}

/* end header */

/* navbar */

	div#navbar {
		padding-bottom: 0;
	}
	
	ul#internals {
		margin: 0;
		padding: 0 0 16px 0;
		border-bottom: 1px solid #eee;
	}
	
	ul#internals li {
		margin: 0;
		padding: 0;
		display: inline;
		list-style-type: none;
	}
	
	ul#internals a {
		float: left;
		line-height: 14px;
		margin: 0 10px 4px 0;
	}
	
	ul#internals a:hover { 
		text-decoration: none; 
		border-bottom: 2px solid #eee;
	}

/* end navbar */

/* contentContainer */

	div#contentContainer {
		margin: 0;
		padding: 0;
		background: url(../i/bg-contentContainer.gif) top left repeat-y;
	}	

/* end contentContainer */

/*content*/

	div#content {
		margin-right: 220px;
	}

	div#content p {
		margin: 5px 0 10px 0;
		padding: 0;
	}

/*end content*/

/*sidebar*/
	
	div#sidebar {
		float: right;
		margin: 0 0 0 10px;
		width: 195px;
		color: #999;
	}

	div#sidebar ul {
		margin: 0;
		padding: 0;
	}
	
	ul#externals li {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline;
		color: #369;
		font-weight: bold;
	}
	
	ul#externals li ul {
		margin-bottom: 10px;
	}
	
	ul#externals li a.last {
		border-bottom: 1px solid #ddd;
	}
	
	ul#externals li a {
		font-family: "Lucida Grande", Geneva, Arial, sans-serif;
		color: #9cf;
		font-weight: normal;
		display: block;
		border-bottom: 1px solid #eee;
		text-transform: none;
	}
	
	ul#iconLinks, ul#iconLinks li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	a#firefoxIcon { 
		background: url(http://sfx-images.mozilla.org/affiliates/Buttons/36x14/blue.gif) left top no-repeat;
		display: block;
		width: 80px;
		height: 15px;
	}
	
/*end sidebar*/

/*footer*/
	
	div#footer {
		border-top: 1px solid #eee;
		padding: 5px 0;
		margin-bottom: 0;
		line-height: 1;
		color: #999;
		clear: both;
	}
	
	div#footer p, div#sidebar p {
		margin: 5px;
		padding: 0;
	}

/*end footer*/

