/*
    basic page elements
*/

body {
	margin: 20px 50px;
	padding: 0;
	max-width: 1300px;
	min-width: 700px;
	background: #f5f5f5;
}

body, input, textarea, table {
    font-family: verdana, helvetica, sans-serif;
    font-size: 0.8125em;
}

img {
	border: 0;
	vertical-align: middle;
}

p {
	margin: 1em 0 0.5em 0;
	line-height: 1.5;
}

h1, h2, h3{
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    margin: 10px 0 5px 0;
    border-bottom: 1px dotted #ddd;
}

a {
	color: #369;
	text-decoration: underline;
}

a:hover {
    background: #eee;
}

/* 
    basic form elements
*/

form {

}

fieldset {
    margin: 10px 0;
    border: 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}

legend {
    font-weight: bold;
}

input {

}

textarea {
    height: 100px;
}

label {
    margin: 0;
    font-weight: bold;
}

input.textbox, textarea {
    margin: .2em 0 1em 0;
    border: 1px solid #ddd;
    width: 75%;
    padding: 3px;
    display: block;
}

input.radio {

}

input.checkbox {

}

input.button {
    padding: 3px;
    margin: 10px 0 0 0;
    background: #eee;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font: verdana, arial, helvetica, sans-serif;
    font-size: 1em;
}

.error label {
    color: #c00;
}

/*
    standard site-wide classes
*/

div.error {
    border: 2px solid #eee;
    padding: 10px;
    background: #f5f5f5;
    color: #c00;
} 

.error h3 {
    margin-top: 0;
}

.inline-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1;
}

.inline-list li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
}


.button-bar li {
    margin-right: 3px; 
}

.padding-div {
    padding: 10px;
    font-size: 0.88em;
}

/*
    menu elements
*/

.sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sub-menu li {
    margin: 0;
    padding: 2px 0;
    border-bottom: 1px solid #eee;
}

.sub-menu a {
    text-decoration: none;
}

.sub-menu a:hover {
    text-decoration: underline;
}

/*
    layout elements
*/

#wrapper {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

#header {
    background: #fff;
    line-height: 80px;
    height: 0%;
}

#site-navigation {
    margin: 10px 0;
    background: #fff;
    line-height: 1;
    text-transform: uppercase;
    height: 0%;
}

#site-navigation .padding-div {
    padding: 5px 10px;
}

#content-wrapper {
    clear: both;
}

#main-content {
    float: right;
    width: 75%;
}

#main-content .padding-div, #sub-content .padding-div {
    padding-top: 0;
}

#sub-content {
    float: left;
    width: 24.9%;
}

#sub-content .padding-div { padding-left: 0; }
#main-content .padding-div { padding-right: 0; }

#footer {
    clear: both;
    margin: 20px 0 0 0;
}

/*
    post elements
*/

.post {
    margin: 0 0 5px 0;
    padding: 0;
}

.post-head {
    padding: 0;
    margin: 0;
    color: #999;
}

.post-head .buttons { float: right; }
.post-head .info { float: left; }

.post-body {
    margin: 0;
    clear: both;
}

.dojo-textarea {
    border: 1px solid #ddd;
}

.post-footer {
    padding: 0 0 3px 0;
    
}

.post-footer a {
    text-decoration: none;
}

#comments h3 {

}

.comment-area {
    
}