.calendar {
    margin: 10px 0; 
    padding: 0;   
}

.calendar h3 {

}

.calendar table {
    margin: 0;
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 3px;
    border: 1px solid #fff;
}
    
.calendar th {
    background: #ddd;
    border: 1px solid #ccc;
}

.calendar td {
    text-align: center;
}

.calendar td.current {
    background: #9cf; color: #fff;
}