.calendar {
    margin: 10px 0; 
    padding: 0;   
}

.calendar h3 {

}

.calendar table {
    margin: 5px 0 10px 0;
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 3px;
    font-weight: normal;
}
    
.calendar th {
    background: #eee;
    border: 1px solid #fff;
}

.calendar td {
    text-align: center;
}

.calendar td.current {
    background: #9cf; color: #fff;
}