.calendar {
    margin: 0; 
    padding: 0;   
}

.calendar h3 {

}

.calendar table {
    margin: 0;
    width: 100%;
    border: 1px solid #eee;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 3px;
}
    
.calendar th {
    background: #eee;
}

.calendar td {
    text-align: center;
}

.calendar td.current {
    background: #def;
}