@import url(base.css);

body {
    background: #ddd;
}

#wrapper {
	border: 1px solid #ccc;
}

#header {
    background: #9c3;
}

#content-wrapper {

}

#site-navigation {
    padding: 0;
    background: #466432;
}

#site-navigation a {
    color: #fff;    
    text-decoration: none;
}

#site-navigation a:hover {
    background: transparent;
    color: #9c3;
}

#footer {
    background: #690;
}
