/* basic page layout */

div {
	margin: 0;
	padding: 0;
}

div#wrapper {
	margin: 20px auto;
	padding: 0;
	width: 720px;
}

div#head {
	background: url(../img/bg-head.jpg) left top no-repeat;
	height: 112px;
}

div#navbar {
	background: url(../img/bg-navbar.jpg) left top no-repeat;
	height: 24px;
	padding: 0px 12px;
	font-size: 10px;
}

div#contentWrapper {
	background: url(../img/bg-body.jpg) left top repeat-y;
}

div#mainContent {
	margin: 0 0 0 12px;
	padding: 5px;
	width: 488px;
	background: #fff url(../img/bg-mainContent.gif) left top repeat-x;
}

div.contentBox {
    padding: 5px;
    background: #fff;
}

div.contentBox h2 {
	margin: 2px 0 0 0;
	padding: 2px 0 0 0;
	font-size: 12px;
	line-height: 16px;	
}

div#subContent {
	margin: 0 12px 0 0;
	padding: 5px;
	width: 184px;
	float: right;
	display: inline; /* fixes double width margin bug in ie O_o */
}

div#subContent h2 {
	margin: 0 0 5px 0;
	padding: 3px 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	border-bottom: 1px solid #cde;
}

div#footer {
	background: url(../img/bg-footer.jpg) left top no-repeat;
	height: 55px;
	padding: 0 12px;
	text-align: center;
}

div#footer p {
	margin: 0 5px;
	line-height: 40px;
	color: #999;
}