/* menu across top of site */

div#navbar ul {
	margin: 0;
	padding: 0;
}

div#navbar li {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

div#navbar li.first a {
	margin-left: 0;
}

div#navbar a {
	margin: 2px 0 2px 0;
	padding: 0 5px;
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 20px;
	border-right: 1px solid #fff;
	background: url(../img/bg-menuItem.gif) bottom left repeat-x;
}

div#navbar a:hover {
	background: #369 url(../img/bg-menuItem-hover.gif) bottom left repeat-x;
}

/* sub menu on side */

ul.subMenu {
	margin: 0 0 10px -1px;
	padding: 0;
}

ul.subMenu li {
	margin: 0;
	padding: 0 0 0 16px;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	background: url(../img/icon-bullet.gif) left center no-repeat;
}

ul.subMenu li.title { 
	padding: 3px;
	font-weight: bold;
	border-bottom: 1px solid #cde;
}

ul.subMenu li.last {  }

ul.subMenu a {
	margin: 0;
	padding: 3px;
	color: #000;
	display: block;
}

ul.subMenu a:hover {
	background: transparent;
	color: #369;	
}

