div.post, div.comments {
	margin: 5px 0 10px 0;
}

div.post dt, div.post dt a {
	text-decoration: none;
	color: inherit;
}

div#content p.postFooter {
	background: url(../i/bg-postFooter.gif) center top no-repeat;
	margin-top: 15px;
	padding: 10px 0 20px 0;
	text-align: center;
}

p.postFooter, p.commentFooter {
	font-family: "Lucida Grande", Geneva, Arial, sans-serif;
}

div#content p.commentFooter {
	padding: 5px 0;
}

p.postFooter, p.postFooter a { color: #999; }
p.postFooter a { text-decoration: none; }
p.postFooter a:hover { text-decoration: underline; }

div#comments {
	color: #aaa;
}

div.comment, div.commentOdd {
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #eee;
}

div.commentOdd {
	background: #f9f9f9;
}

div.commentArea {
	margin: 10px 0 5px 0;
	color: #999;
}


